@import './Item/TabBarItem';

.tab-bar {
	position: sticky;
	z-index: 10;
	bottom: 0;
	display: flex;
	width: 100%;
	height: calc(58px + env(safe-area-inset-bottom));
	padding: 8px;
	background-color: $VIOLET_50;
	box-shadow: 0px -1px 0px #DBD9EF;
}
