$FONT_600_9_10: 600 9px/10px "Inter", sans-serif;
$FONT_500_13_16: 500 13px/16px "Inter", sans-serif;
$FONT_700_14_16: 700 14px/16px "Inter", sans-serif;
$FONT_700_18_22: 700 18px/22px "Inter", sans-serif;
$FONT_700_24_28: 700 24px/28px "Inter", sans-serif;
